//Colores

//Primarios
$color-light-red: #ff525d; //CTA text
$color-very-light-red: #ff7a85; //CTA hover background
$color-very-dark-blue: #1f3f5b; //headings

//Neutral
$white: #ffffff; //(text)
$grayish-blue: #c8c8cb; //(footer text)
$very-dark-grayish-blue: #4b5862; //(body copy)
$very-dark-black-blue: #25252d; //(footer background)

//Gradient

//Background gradient - Intro/CTA mobile nav:
$gradient-very-light-red: #ff8f70;
$gradient-light-red: #ff3d54;

//Background gradient - body:
$very-dark-gray-blue: #2c2d3f;
$very-dark-desaturated-blue: #3f4164;

//Typography

//Body Copy
$font-size: 1.6rem;

//Fonts
$font-overpass: 'Overpass', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;